/* @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"); */

:root {
  --txt-clr: hsl(230, 15%, 30%);
  --txt-clr-l: hsl(230, 15%, 85%);

  --bg-clr: hsl(222, 80%, 95%);
  --bg-clr-l: hsl(0, 0%, 99%);
  --accent-clr: hsl(346, 100%, 50%);
  --d-accent-clr: hsl(346, 100%, 45%);

  --container-width: min(75rem, 100vw - 2rem);
}

/* *,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

/* body,
html {
  background-color: var(--bg-clr);
  font-family: "Roboto", sans-serif;
  color: var(--txt-clr);
  scroll-behavior: smooth;
} */
