@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

:root {
  --txt-clr: hsl(230, 15%, 30%);
  --bg-clr: hsl(222, 80%, 95%);
  --accent-clr: hsl(346, 100%, 50%);
  --d-accent-clr: hsl(346, 100%, 45%);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  background-color: var(--bg-clr);
  font-family: "Roboto", sans-serif;
}
